#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: flex-start;
}

.content {
    margin-left: 200px; 
    padding: 20px;
    width: calc(100% - 50px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header h1 {
    font-size: 20px; 
    color: #333;
    width: 600px; 
    text-align: center;
    margin: 0 auto; 
    margin-bottom: 5px;
}

.car-image {
    width: 640px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

    .car-image img {
        width: 100%;
        height: auto;
        display: block;
    }

.auction-info {
    background-color: #f1f1f1;
    padding: 20px;
    margin-top: 20px;
    width: 600px; 
}

.current-bid span,
.current-bid strong {
    display: block;
    text-align: center;
    font-size: 20px;
}

.details {
    display: flex;
    justify-content: space-between;
    width: 600px; 
    box-sizing: border-box;
    margin-top: 10px; 
}

    .details span {
        margin-right: 15px;
    }

    .details .last-bid-label { 
        display: block; 
        margin-bottom: 10px; 
    }

.bid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 600px;
}

    .bid input {
        margin-right: 10px;
        padding: 10px;
        font-size: 16px;
        flex-grow: 1; 
    }

    .bid button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }

    .bid label {
        margin-right: 15px; 
        font-weight: bold; 
    }

.auction-timer {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    width: 600px; 
}

header-content {
    display: flex;
    align-items: center;
}

.secondary-image {
    margin-right: 10px; 
    width: 40px; 
    height: auto;
    cursor: pointer;
    background: transparent;
}

.page-background {
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 150px; 
    background: url('/images/fundo.png') no-repeat center center;
    background-size: cover;
    filter: blur(8px);
    z-index: -2; 
}

.content {
    position: relative;
    margin-bottom: 20px; 
    border-radius: 10px;
}

    .content::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF; 
        z-index: -1; 
        border-radius: 10px;
        width: 700px;
        left: -10px; 
        top: 10px;
    }