@page
@model SiteLeiloes.Pages.Utilizador.AcessoNegadoModel

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso Negado</title>
    <link href="~/css/acessoNegado.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Acesso Negado</h1>
        <p>Desculpe, você não tem permissão para acessar esta página.</p>
        <a href="/">Voltar à Página Inicial</a>
    </div>
</body>
</html>